.dialog {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.dialog:hover {
    background-color: #eee;
}

.dialogName {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.dialog .active {
    color: cadetblue;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 1px 1px 5px cadetblue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
