input,
textarea {
    width: 100%;
}

.formControl.checkbox {
    display: flex;
    align-items: center;
    height: 100%;
}

.error {
    border: 2px solid red;
}

.errorText {
    height: 16px;
    color: rgba(255, 0, 0, 0);
    font-size: 12px;
    margin-bottom: 5px;
}
.errorOn {
    color: rgb(255, 0, 0);
}
