.button {
    width: 70px;
    font-weight: 600;
    font-size: 14px;
    color: #336666;
    border: none;
    border-radius: 5px;
    background: paleturquoise;
    padding: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.button:hover {
    background-color: #336666;
    color: #ffffff;
}
.button:disabled {
    color: #88acac;
}

.user {
    max-width: 100%;
    margin: 0 5px 25px;
    padding: 5px;
    border: 1px solid #336666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.userMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.userInfo {
    width: 100%;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; */
}

.userInfo .name {
    font-weight: 500;
    margin-bottom: 10px;
}

.status {
    color: #888888;
    margin-top: 5px;
}
