.profileInfo {
    margin-bottom: 30px;
    position: relative;
    padding: 10px;
}
.profileInfo::after {
    position: absolute;
    content: "";
    background: url("../../../img/bg.jpg") no-repeat center/cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.informationBlock {
    width: 100%;
    display: flex;
    align-items: center;
}

.userInfo {
    width: calc(100% - 160px);
}

.avatar {
    height: 160px;
    width: 160px;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    position: relative;
    z-index: 10;
}
.avatarImage {
    width: 100%;
    object-fit: cover;
    z-index: 50;
}
.avatarChange {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}
.avatarChange:hover {
    color: rgba(255, 255, 255, 0.8);
}
.avatarInputHidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.nameBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.name {
    font-size: 18px;
}

.editButton {
    width: 24px;
    height: 24px;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    align-self: start;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.editImage {
    width: 100%;
    height: 100%;
}

.jobStatus,
.aboutMe,
.userContacts {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.question {
    font-weight: 500;
    font-style: italic;
    margin-right: 15px;
}
.jobStatusImage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contact {
    margin-right: 10px;
}

.statusBlock {
    margin: 5px 0;
    max-width: 400px;
    width: 100%;
    height: 30px;
}
.statusText,
.statusInput {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: #222222;
    margin-left: 0;
}
.editStatus {
    border: 1px solid #336666;
    border-radius: 5px;
}

/* editing */
.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
}
.nameInput {
    width: 50%;
    margin-left: 5px;
}
.checkboxLine {
    display: flex;
    align-items: center;
}
.checkbox {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.textarea {
    height: 60px;
    resize: none;
    border: none;
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #336666;
    border-radius: 5px;
}
.errorField {
    height: 25px;
    margin-top: 5px;
    align-self: center;
    color: rgba(255, 0, 0, 0);
    font-size: 13px;
}
.errorField.active {
    color: rgb(255, 0, 0);
}

.userContactsEdit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}
.userContactEdit {
    margin-right: 20px;
}
