* {
    margin: 0;
    box-sizing: border-box;
}

.app-wrapper {
    position: relative;
    max-width: 960px;
    width: 98%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}

.app-wrapper-content {
    grid-area: c;
    border: 2px solid peachpuff;
}
